/*
Image Enlarger (by iNet / IEVEVO)
Licenced under MIT 

https://codepen.io/inet/pen/MLxMwK


*/

.hero-card {
  height: 200px;
  border-radius: 0;
  border: none;
  background-color: #8c7ae6 !important;
  color: #ffffff;
}

@media screen and (min-width: 300px) {
  .image {
    width: 150px !important;
    margin: 1rem;
  }
  .nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .img-enlarged__cont {
    width: 100%;
    height: 0px;
    opacity: 0;
    font-family: Helvetica, sans-serif;
    cursor: zoom-out;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged__cont.open {
    height: 100%;
    opacity: 1;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #eee;
    display: block;
    margin: auto !important;

    position: relative;
    top: 10%;
    bottom: 10%;
  }

  .img-enlarged__nav.next::after {
    content: ">";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    right: 40%;
    top: 49%;
  }
  .img-enlarged__nav.prev::after {
    content: "<";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 49%;
  }

  .gallery img {
    cursor: zoom-in;
  }

  .img-enlarged__nav {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
    text-align: center;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:hover {
    background: rgba(0, 0, 0, 0.8);
    width: 11%;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:active {
    width: 12%;
    transition: 0.1s width;
  }

  .img-enlarged__nav span {
    font-size: 25px;
    color: #fff;
    height: 20px;
    display: inline-block;
  }

  .img-enlarged__nav.prev {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img-enlarged__nav.next {
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-enlarged__counter {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: monospace;
    width: 50px;
    text-align: center;
    font-size: 15px;
    padding: 7px 0 7px 0;
    margin: auto !important;
    display: block;

    position: absolute;
    left: 49%;
    bottom: 5%;
  }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .gallery,
  h1,
  p,
  .hidden {
    display: none;
  }

  .image {
    width: 250px !important;
    margin-left: 3rem;
  }

  .nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .img-enlarged__cont {
    width: 100%;
    height: 0px;
    opacity: 0;
    font-family: Helvetica, sans-serif;
    cursor: zoom-out;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged__cont.open {
    height: 100%;
    opacity: 1;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #eee;
    display: block;
    margin: auto !important;

    position: relative;
    top: 10%;
    bottom: 10%;
  }

  .img-enlarged__nav.next::after {
    content: ">";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    right: 40%;
    top: 49%;
  }
  .img-enlarged__nav.prev::after {
    content: "<";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 49%;
  }

  .gallery img {
    cursor: zoom-in;
  }

  .img-enlarged__nav {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
    text-align: center;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:hover {
    background: rgba(0, 0, 0, 0.8);
    width: 11%;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:active {
    width: 12%;
    transition: 0.1s width;
  }

  .img-enlarged__nav span {
    font-size: 25px;
    color: #fff;
    height: 20px;
    display: inline-block;
  }

  .img-enlarged__nav.prev {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img-enlarged__nav.next {
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-enlarged__counter {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: monospace;
    width: 50px;
    text-align: center;
    font-size: 15px;
    padding: 7px 0 7px 0;
    margin: auto !important;
    display: block;

    position: absolute;
    left: 49%;
    bottom: 5%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .gallery,
  h1,
  p,
  hr {
    width: 1020px;
    display: block;
    margin: 15px auto 15px auto;
  }

  .image {
    width: 500px;
  }

  .hidden {
    display: none;
  }

  .nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .img-enlarged__cont {
    width: 100%;
    height: 0px;
    opacity: 0;
    font-family: Helvetica, sans-serif;
    cursor: zoom-out;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged__cont.open {
    height: 100%;
    opacity: 1;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #eee;
    display: block;
    margin: auto !important;

    position: relative;
    top: 10%;
    bottom: 10%;
  }

  .img-enlarged__nav.next::after {
    content: ">";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    right: 40%;
    top: 49%;
  }
  .img-enlarged__nav.prev::after {
    content: "<";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 49%;
  }

  .gallery img {
    cursor: zoom-in;
  }

  .img-enlarged__nav {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
    text-align: center;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:hover {
    background: rgba(0, 0, 0, 0.8);
    width: 11%;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:active {
    width: 12%;
    transition: 0.1s width;
  }

  .img-enlarged__nav span {
    font-size: 25px;
    color: #fff;
    height: 20px;
    display: inline-block;
  }

  .img-enlarged__nav.prev {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img-enlarged__nav.next {
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-enlarged__counter {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: monospace;
    width: 50px;
    text-align: center;
    font-size: 15px;
    padding: 7px 0 7px 0;
    margin: auto !important;
    display: block;

    position: absolute;
    left: 49%;
    bottom: 5%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .gallery,
  h1,
  p,
  hr {
    width: 1020px;
    display: block;
    margin: 15px auto 15px auto;
  }
  .image {
    width: 500px;
  }

  .hidden {
    display: none;
  }

  .nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .img-enlarged__cont {
    width: 100%;
    height: 0px;
    opacity: 0;
    font-family: Helvetica, sans-serif;
    cursor: zoom-out;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged__cont.open {
    height: 100%;
    opacity: 1;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #eee;
    display: block;
    margin: auto !important;

    position: relative;
    top: 10%;
    bottom: 10%;
  }

  .img-enlarged__nav.next::after {
    content: ">";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    right: 40%;
    top: 49%;
  }
  .img-enlarged__nav.prev::after {
    content: "<";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 49%;
  }

  .gallery img {
    cursor: zoom-in;
  }

  .img-enlarged__nav {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
    text-align: center;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:hover {
    background: rgba(0, 0, 0, 0.8);
    width: 11%;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:active {
    width: 12%;
    transition: 0.1s width;
  }

  .img-enlarged__nav span {
    font-size: 25px;
    color: #fff;
    height: 20px;
    display: inline-block;
  }

  .img-enlarged__nav.prev {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img-enlarged__nav.next {
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-enlarged__counter {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: monospace;
    width: 50px;
    text-align: center;
    font-size: 15px;
    padding: 7px 0 7px 0;
    margin: auto !important;
    display: block;

    position: absolute;
    left: 49%;
    bottom: 5%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .gallery,
  h1,
  p,
  hr {
    width: 1020px;
    display: block;
    margin: 15px auto 15px auto;
  }

  .image {
    width: 500px;
  }

  .hidden {
    display: none;
  }

  .nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .img-enlarged__cont {
    width: 100%;
    height: 0px;
    opacity: 0;
    font-family: Helvetica, sans-serif;
    cursor: zoom-out;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged__cont.open {
    height: 100%;
    opacity: 1;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #eee;
    display: block;
    margin: auto !important;

    position: relative;
    top: 10%;
    bottom: 10%;
  }

  .img-enlarged__nav.next::after {
    content: ">";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    right: 40%;
    top: 49%;
  }
  .img-enlarged__nav.prev::after {
    content: "<";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 49%;
  }

  .gallery img {
    cursor: zoom-in;
  }

  .img-enlarged__nav {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
    text-align: center;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:hover {
    background: rgba(0, 0, 0, 0.8);
    width: 11%;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:active {
    width: 12%;
    transition: 0.1s width;
  }

  .img-enlarged__nav span {
    font-size: 25px;
    color: #fff;
    height: 20px;
    display: inline-block;
  }

  .img-enlarged__nav.prev {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img-enlarged__nav.next {
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-enlarged__counter {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: monospace;
    width: 50px;
    text-align: center;
    font-size: 15px;
    padding: 7px 0 7px 0;
    margin: auto !important;
    display: block;

    position: absolute;
    left: 49%;
    bottom: 5%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .gallery,
  h1,
  p,
  hr {
    width: 1020px;
    display: block;
    margin: 15px auto 15px auto;
  }

  .image {
    width: 500px;
  }

  .hidden {
    display: none;
  }

  .nosel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .img-enlarged__cont {
    width: 100%;
    height: 0px;
    opacity: 0;
    font-family: Helvetica, sans-serif;
    cursor: zoom-out;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged__cont.open {
    height: 100%;
    opacity: 1;

    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .img-enlarged {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #eee;
    display: block;
    margin: auto !important;

    position: relative;
    top: 10%;
    bottom: 10%;
  }

  .img-enlarged__nav.next::after {
    content: ">";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    right: 40%;
    top: 49%;
  }
  .img-enlarged__nav.prev::after {
    content: "<";
    font-size: 50px;
    font-family: monospace;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 49%;
  }

  .gallery img {
    cursor: zoom-in;
  }

  .img-enlarged__nav {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
    text-align: center;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:hover {
    background: rgba(0, 0, 0, 0.8);
    width: 11%;
    transition: 0.3s width, 0.2s background;
  }
  .img-enlarged__nav:active {
    width: 12%;
    transition: 0.1s width;
  }

  .img-enlarged__nav span {
    font-size: 25px;
    color: #fff;
    height: 20px;
    display: inline-block;
  }

  .img-enlarged__nav.prev {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img-enlarged__nav.next {
    position: absolute;
    top: 0;
    right: 0;
  }

  .img-enlarged__counter {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: monospace;
    width: 50px;
    text-align: center;
    font-size: 15px;
    padding: 7px 0 7px 0;
    margin: auto !important;
    display: block;

    position: absolute;
    left: 49%;
    bottom: 5%;
  }
}
